@media screen and (max-width:599px) {
    body {
        flex-direction: column;
        display: flex;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation,
    .plist {
        width: 50%;
    }
    .news {
        flex-grow: 1;
    }
}

@media screen and (min-width:900px) {
    body {
        display: flex;
        flex-direction: row;
    }
    .navigation,
    .plist,
    .news {
        flex-grow: 1;
    }
}