*{
    box-sizing: border-box;
}
#form{
    margin: 32px;
}

form input,form textarea, form select, form div {
    margin: 8px;
    display: block;
}

.languages  {
    align-items: center;
    display: flex;
}


input[type="radio"]{
    margin: 0;
}
.languages label{
    margin-right: 3px;
}