*{
    box-sizing: border-box;
}
.content{
    display: flex;
}

ul{
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

header{
    background-color: yellow;
    height: 40px;
    padding-top: 10px;
}

header>ul{
    display: flex;
}

header>ul li{
    margin-left: 16px;
}

main{
    width: 87%;
    margin-top: -20px;
}

section{
    background-color: pink;
    width: 100%;
    text-align: center;
    height: 100vh;
}

section>h2{
    position: relative;
    top: 42%;
}

aside{
    background-color: grey;
    width: 200px;
}

aside>h2{
   margin-left: 16px;
   margin-right: 16px;
    text-align: center;
}

aside>ul{
    line-height: 40px;
}

aside>ul>li{
   margin-left: 16px;
}


footer{
    height: 40px;
    background-color: green;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>span{
    display: block;
    margin: 0 auto;
    margin-left: 50vw;

}
