* {
    box-sizing: border-box;
}

p {
    position: relative;
    margin: 0 32px;
    padding: 8px;
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 4px;
    z-index: 0;
    transform: translateX(9px) translateY(10px);
}

.square {
    position: relative;
    background-color: tomato;
    width: 100px;
    height: 100px;
    z-index: 10;
    transform: scale(1.5) rotate(45deg) translateX(150px) translateY(-50px);
}